.movie-container{
    position: relative;
    left: 2rem;
}
.movie-List{
    color: white;
    padding-top: 2rem;
    user-select: none;
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}.moviesContainer {
    display: flex;
    overflow-x: hidden;
  }